@charset "utf-8";
/* CSS Document admin pisola*/

body {
	background: #F6FBF5;
}

.container {
	background: #FFFFFF;
}

.container-fluid {
	background: #F6FBF5;
}



.sombre {
	background: #665C4A;
	color: #fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

a {
	color: #000;
}a:hover {
	color: orangered;
	background: #F6FBF5;
}

.geometrique {
	background-image: url(../img/geometrique.png);
	height: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
}

.fond_fonce {
	background: #D0D7C0;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 10px;
	opacity: 0.9;
	color: #665C4A;
}

/*pour le menu*/
.sr-only {
	background: #665C4A;
}