@charset "utf-8";
/* CSS Document admin pisola*/

body {
	background: #F6FBF5;
}

.container {
	background: #FFFFFF;
}

.container-fluid {
	background: #F6FBF5;
}

.fond_fonce {
	background: #D0D7C0;
	color: #333;
}

.sombre {
	background: #665C4A;
	color: #fff;
}

a {
	color: #000;
}a:hover {
	color: orangered;
	background: #F6FBF5;
}